{% load static %}

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <img src="{% static 'img/OnlyFlans.png' %}" alt="logo" width="15%" class="ms-auto" style="margin-right: 25rem;">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="btn-toolbar w-100" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group btn-group-custom me-2" role="group" aria-label="First group">
                        <a class="btn btn-primary" href="{% url 'index' %}">Home</a>
                        <a class="btn btn-primary" href="{% url 'welcome' %}">Welcome</a>
                        <a class="btn btn-primary" href="{% url 'about' %}">About</a>
                    </div>
                    <div class="btn-group btn-group-custom me-2" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
                        <button type="button" class="btn btn-secondary">Logout</button>
                    </div>
                    <div class="btn-group btn-group-custom" role="group" aria-label="Third group">
                        <button type="button" class="btn btn-info">Admin</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Iniciar Sesión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo Electrónico</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" required>
                    </div>
                    <div class="d-grid">
                        <a href="{% url 'welcome' %}">
                        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>







