{% extends 'base.html' %}
{% block content %}
{% block title %}
{% load static %}
<div class="col-md-4">
    <a href="{% url 'index' %}">
        <img src="{% static 'img/OnlyFlans.png' %}" alt="login" width="45%">
    </a>
</div>
{% endblock %}
<div class="row justify-content-center">
    <div class="col-md-7 col-lg-8">
        <div class="card shadow-lg p-4">
            <h4 class="mb-4 text-center">Registro de Cliente</h4>
            <form action="{% url 'registration_view' %}" method="post" >
                {% csrf_token %}
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label fs-5">Nombre</label>
                        <input type="text" name="name" class="form-control border border-primary" id="firstName" placeholder="" value="" required />
                        <div class="invalid-feedback">El nombre es requerido.</div>
                    </div>

                    <div class="col-sm-6">
                        <label for="lastName" class="form-label fs-5">Apellido</label>
                        <input type="text" name="lastname" class="form-control border border-primary" id="lastName" placeholder="" value="" required />
                        <div class="invalid-feedback">El apellido es requerido.</div>
                    </div>

                    <div class="col-12">
                        <label for="email" class="form-label fs-5">Correo Electrónico</label>
                        <input type="email" name="email" class="form-control border border-primary" id="email" placeholder="usuario@correo.com" required />
                        <div class="invalid-feedback">Por favor, ingrese un correo electrónico válido.</div>
                    </div>

                    <div class="col-12">
                        <label for="age" class="form-label fs-5">Edad</label>
                        <input type="number" name="age" class="form-control border border-primary" id="age" placeholder="" required />
                        <div class="invalid-feedback">Por favor, ingrese una edad válida.</div>
                    </div>

                    <div class="col-12">
                        <label for="birthDate" class="form-label fs-5">Fecha de cumpleaños</label>
                        <input type="date" name="birth_date" class="form-control border border-primary" id="birthDate" placeholder="Fecha de cumpleaños" required />
                        <div class="invalid-feedback">Por favor, ingrese una fecha de cumpleaños válida.</div>
                    </div>

                    <div class="col-12">
                        <label for="address" class="form-label fs-5">Dirección</label>
                        <input type="text" name="address" class="form-control border border-primary" id="address" placeholder="Dirección" required />
                        <div class="invalid-feedback">La dirección es requerida.</div>
                    </div>

                    <div class="col-12">
                        <label for="password" class="form-label fs-5">Contraseña</label>
                        <input type="password" name="password" class="form-control border border-primary" id="password" placeholder="Contraseña" required minlength="8" />
                        <div class="invalid-feedback">La contraseña debe tener al menos 8 caracteres.</div>
                    </div>

                    <div class="col-12">
                        <label for="confirmPassword" class="form-label fs-5">Confirmar Contraseña</label>
                        <input type="password" class="form-control border border-primary" id="confirmPassword" placeholder="Confirmar Contraseña" required minlength="8" />
                        <div class="invalid-feedback">Las contraseñas deben coincidir y tener al menos 8 caracteres.</div>
                    </div>
                </div>

                <hr class="my-4" />

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="same-address" />
                    <label class="form-check-label fs-5" for="same-address">La dirección de envío es la misma que la dirección de facturación</label>
                </div>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="save-info" />
                    <label class="form-check-label fs-5" for="save-info">Guardar esta información para la próxima vez</label>
                </div>

                <div class="col-lg-6 mx-auto">
                    <input type="Submit" class="btn btn-primary btn-lg w-100" value="Enviar">
                </div>
            </form>
        </div>
    </div>
</div>

<br><br>
{% endblock %}
{% block javascript %}
    <script>
        var show_navbar = false;
    </script>
{% endblock %}
