<div class="container">
    <div class="bg-dark text-secondary px-1 py-5 text-center position-relative overflow-hidden" style="width: 100%;">
        <img src="/static/img/flanFrutosVino.jpg" class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover" alt="flanChantilly" loading="lazy" style="opacity: 0.5;">
        <div class="position-relative">
            <h1 class="display-3 fw-bold text-light">Suscríbete</h1>
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4 text-light">Nuestros clientes disfrutan de beneficios inigualables, envío gratis, sabores innovadores y regalos especiales durante todo el mes de su cumpleaños.</p>
                <a href="{% url 'registration_view' %}"></a>
                <button type="submit" class="w-100 btn btn-primary btn-lg">Suscribirse</button>
            </div>
        </div>
    </div>
</div>
